.my-card {
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  }
  
.my-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
  }
  
  .card-title {
    color: #343a40;
  }
  
  .card-text {
    font-size: 0.9rem;
  }
  