.custom-dropdown .dropdown-menu a {
    color: white !important; /* Ustawia jasny kolor tekstu */
  }
  
  .custom-dropdown .dropdown-menu {
    background-color: #343a40; /* Opcjonalnie: ciemne tło */
  }
  
  .custom-dropdown .dropdown-item:hover {
    color: #f8f9fa !important; /* Kolor tekstu po najechaniu */
    background-color: #495057; /* Opcjonalne: tło po najechaniu */
  }

  .custom-dropdown a{
    color: white;
  }

  .custom-dropdown a:hover{
    color: #f8f9fa !important;
  }
  